<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Details</title>
</head>
<body>
<h1>User Details</h1>
<div>
    <label>ID:</label>
    <span th:text="${User.id}">1</span>
</div>
<div>
    <label>Username:</label>
    <span th:text="${User.username}">johndoe</span>
</div>
<div>
    <label>Email:</label>
    <span th:text="${User.email}">john@example.com</span>
</div>
<div>
    <label>Firstname:</label>
    <span th:text="${User.firstName}">John</span>
</div>
<div>
    <label>Lastname:</label>
    <span th:text="${User.lastName}">Doe</span>
</div>
<div>
    <label>Role:</label>
    <span th:text="${User.role.role_name}">Admin</span>
</div>
<a href="/users">Back to List</a>
</body>
</html>